* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Times New Roman", Times, serif;
  background: #e9b9b9;
  color: #222;
}
.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}
.book img {
  height: 10rem;
  width: 13rem;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.book:hover img {
  transform: scale(1.2);
}
